@model NoteTakerApplication.ViewModels.ViewAuthorViewModel

<div>
    @*@if (TheirShorthand != null)
    {
        foreach(var item in TheirShorthand)
        {
    <table>
        <tr>
            <td>TheirShorthand[item]</td>
        </tr>
    </table>
        }
    }*@
</div>