@model IEnumerable<NoteTakerApplication.ViewModels.NoteViewModel>

@{
    ViewBag.Title = "NotesView";
}
@foreach (var item in Model)
{
    <h2>@item.Title</h2>


    <div id="content" style="margin:20px; margin-top:30px; padding:50px; border-radius:10px; background-color:white; border:solid 2px grey;">@Html.Raw(item.Content)</div>


    <form action="/Notes/Save/@item.Id" method="post">

        <div style="margin:20px; margin-top:30px;"><input type="submit" value="Save to My Notes" class="btn btn-default" /></div>

    </form>

}




    @section scripts{
        <script>
            //How do I get the html to not show up until it's done encoding?
            @*var noteModel = @Html.Raw(@item.);
            $('#content').html(noteModel[0].Content);*@

        </script>
    }





