@{
    ViewBag.Title = "Home Page";
}

<html ng-app="NoteTaker">
<head>
    <title>NoteTaker</title>
   
</head>

<body style="background-image: url('http://lpcexpressnews.com/wp-content/uploads/2013/02/EMptyClassroom1-1024x768.jpg') ">

    <h1>Welcome to NoteTaker</h1>
    <div class="col-md-6" style="padding:20px;">
        <p>NoteTaker is a site for sharing digital and hard copy notes. Its quick-access design allows you to log in and begin note taking immediately. Your finished notes can then be published, viewed, and modified by other users, letting you share notes more easily with your friends and classmates.</p>
        <p>To begin, click the link below.</p>

        <div class="row">
            <div class="col-md-6">
                <a href="/Notes/Create"><h3>New Note Page</h3></a>
            </div>

        </div>
    </div>


   
</body>
</html>

